
img-parent {
    width: 30%;
    margin: 0 auto
}

.rating-number {
    font-size: 30px;
}

.rating-icons {
    font-size: 48px;
    vertical-align: bottom;
}

.color-bad {
    color: red;
}

.color-mid {
    color: orange;
}

.color-good {
    color: green;
}
