{% set current_page = "home" %}
{% extends "layouts/app.html" %}
{% block content %}
<!-- Hero Section -->
<div class="container my-5">
  <div class="row">
    {% for teacher in teachers %}
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <div class="card">
        {% if teacher.image_link %}
        <img src="{{ teacher.image_link }}" class="card-img-top" alt="" height="249">
        {% else %}
        <img src="https://www.pngkey.com/png/detail/21-213224_unknown-person-icon-png-download.png" class="card-img-top" alt="Default Teacher Image">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ teacher.name }}</h5>
          <p class="card-text">{{ teacher.subjects }}</p>
          <a href="/teachers/{{ teacher.id }}" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}